.content{
    display: flex;
    /* justify-content: flex-start; */
    /* height: 100vh; */
    font-size: 20px;
    padding-top: 30px;
}
.info{
    width: 40%;
}
.resume{
    width: 60%;
    /* padding-left: 40px;
    padding-right: 40px; */
}