.content{
    display: flex;
    /* justify-content: flex-start; */
    /* height: 100vh; */
    font-size: 20px;
    padding-top: 30px;
}
.info{
    width: 40%;
}
.resume{
    width: 55%;
    /* padding-left: 40px;
    padding-right: 40px; */
}
.picture{
    /* width: 55%; */
    justify-content: center;
    display: flex;
    /* width: 375px; */
    
}
.picture img{
    width: 375px;
}
.tableResume{
    font-size: 40px;

}

.resumeMobile p {
    display:flex;
    font-size: xx-large;
    /* text-align: center; */
    /* margin-left: 25px; */
    /* margin-right: 25px; */
    /* width: 75%; */
    /* padding-left: 40px;
    padding-right: 40px; */
}
.contentMobile{
    /* margin: 0 auto; */
    padding: 10px;
    /* position: relative; */
}
/* .buttonAbout{ */
    /* text-align: center; */
    /* display: flex; */
    /* color: blue; */
    /* background-color: blue; */
/* } */
.buttonAbout button{
    width: 150px;
    height: 30px;
    background-color: #0921d8;
    color: #f1f1f8;
    border: 1px solid black;
}