.content{
    display: flex;
    /* justify-content: flex-start; */
    /* height: 100vh; */
    font-size: 20px;
    padding-top: 30px;
}
.info{
    width: 40%;
}
.resume{
    width: 55%;
    /* padding-left: 40px;
    padding-right: 40px; */
}
.infoMobile{
    width: 55%;
}
.resumeMobile{
    width: 45%;
    /* padding-left: 40px;
    padding-right: 40px; */
}