.content{
    /* text-align: center; */
    /* margin: 0 auto; */
    padding-top: 70px;
    padding-left: 75px;
    /* background-image: url("../assets/background.jpg") !important; */
    /* height: 75vh; */
    /* overflow-x: hidden; */
    /* background:  url("../assets/background.jpg")  no-repeat fixed center;  */
    /* background-size: cover; */

}
.skill{
    display: flex;
    justify-content: center;
    
}
.partTwo{
    /* display: flex;
    justify-content: center;
    padding-top: 15px; */
    height: 9%;
    position:absolute;
    bottom: 0;
    left: 43%;
}
.skillOne{
    margin-left: 15px;
}
.social{
    flex: 0 1 40px;
    /* margin-top: 20px; */
    height: 40px;
    justify-content: space-between;
    display: flex;
    margin-right: 5px;
}
.partThree{
    padding-left: 75px;
    padding-top: 15px;
    height: 35%;
}
span{
    margin-right: 25px;
}
.partTwoMobile{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 15px;
    height: 15%;

}
.partThreeMobile{
    display: none;
}
.hireButton{
    display: none;
}
.contentMobile{
    padding-top: 70px;
    text-align: center;
}
.contentMobile h3{
    font-size: 40px;
}
.content h3{
    font-size: 30px;
}
.allButton{
    display: flex;
    justify-content: space-around;
}