.header{
    /* background-color: yellow;
    color: white;
    height: 100%; */
}
.list{
    list-style: none;
    /* text-decoration: none; */
    text-align: left;
    display: contents;
    margin-left: 5px;
}
.active{
    /* text-decoration: none; */
    color: rgb(255, 255, 255);
}
.list li{
    margin-top: 15px;
    margin-left: px;
    margin-right: 10px;
    border-radius: 5px;
    height: 25px ;
}
.list li a{
    text-decoration: none;
    margin-left: 5px;
    margin-top: 5px;
}
/* a :hover{
   color: white;
} */