.contentProject{
    display: flex;
}
.contentProjectMObile{
    display: flex;
    justify-content: space-between;
}
.oneProject{
    display: flex;
    width: 50%;
}
.oneProjectMobile{
    width: 50%;
    padding-bottom: 10px;
}
.imageProject{
    width: 35%;
}
.infoProject{
    width: 65%;
}
/* .infoProjectMobile{
    width: 35%;
} */
.title{
    justify-content: center;
    font-size: 15px;
    color: #0000ff;
    display: grid;
}