.experience{
    display: flex;
    /* height: 120px; */
}
.experiencePartOne{
    width: 25%;
    background-color: #0000ff;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding-left: 10px;
}
.education{
    display: flex;
}
.experiencePartTwo{
    width: 75%;
    background-color: #101010;
    border-radius: 5px;
    margin-bottom: 5px;
    /* margin-right: 5px; */
}
.center{
    text-align: center;
    color: #0000ff;
}
.educationMobile{
    width: 80%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
.h3Style{
    color: blue;
    font-style: italic;
    font-family: Algerian;
    font-size: xxx-large;
}
.h3StyleTwo{
    color: blue;
    font-style: italic;
    font-family: Algerian;
    font-size: xxx-large;
}
.displayHidden{
    display: none;
}
.flexpart{
    display: flex;
}
.partEduMob{
    width: 25%;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding-left: 10px;
}
.partTwoEduMob{
    width: 75%;
    background-color: #101010;
    border-radius: 5px;
    margin-bottom: 5px;
    /* margin-right: 5px; */
}