.content{
    display: flex;
    justify-content: flex-start;
    height: 100%;
}
.left{
    background-color: rgb(32, 32, 32);
    position: relative;
    /* left: -10px; */
    width: 175px;
    display: flex;
    flex-flow: column;
    height: 100vh;
    /* flex-direction: column; */
    padding-left: 15px;
    color: blue;
    overflow: hidden;
}
.name{
    flex: 0 1 auto;
    height: 80px;
    /* border-bottom: 0.3px solid black; */
    /* margin-left: 15px; */
}
.navigation{
    flex: 1 1 auto;
    flex: 1;
    margin-top: 50px;
}
.social{
    flex: 0 1 40px;
    margin-top: 20px;
    height: 40px;
    justify-content: space-between;
    display: flex;
    margin-right: 5px;
}
.showcontent{
    /* background-color: black; */
    width: 100%;
    color: white;
    /* margin-left: 15px; */
    padding-left: 15px;
    background-image: url("../assets/background.jpg");
    padding-top: 60px;
    /* overflow: hidden; */
    /* min-height: 90.5vh; */

}




/* @media only screen and (max-width: 600px) {
    .left{
        display: flex;
    }
  }
  @media only screen and (min-width: 600px) {
    .left{
        display: none;
    }
  } */