.content{
    display: flex;
    /* padding-top: 5px; */
}
.model{
    width: 20%;
    height: 180px;
    margin-left: 25px;
    margin-bottom: 5px;
    padding-top: 5px;
    border: 1px solid rgb(15, 11, 11);
    border-radius: 50%;
    text-align: center;
    background-color: rgb(4, 4, 90);
    /* height: 30vh; */
}
.mdoalcircular{
    position: relative;
    display: inline-block;
}
.bg {
    position: absolute;
    
    border-radius: 50%;
    background-color: lightgrey;
  }
  .pourcentage{
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: center;
    /* width: 100%; */
    /* font-size: 70px;
    height: 200px;
    line-height: 200px; */
  }
  .hiddenContent{
    display: none;
  }